---
layout: default
title: About us
page_teaser_image: https://conference.techexeter.uk/images/preview_index.jpg
---
			{% include header.html %}

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>About us</h2>
							<p>TechExeter and its sister community Digital Exeter are community groups, driven by a passionate volunteer leadership team. Entirely self-funded as a CIC, we champion all things Tech and Digital in the region. All the money we raise goes back into supporting the community.</p>
						</header>

						<!-- Content -->
							<section id="content">
								<span class="image fit"><img src="{{ site.url }}{{ site.baseurl }}/images/banner-1a.jpg" alt="" /></span>
								<h3>What we do</h3>
								
								<p>We:</p>
								<ul>
								<li>Put on free <a href="https://meetup.com/techexeter" target="_blank">monthly meetups</a> ranging between 30-100 people </li>
								<li>Help people to run special interest events, e.g. VR / AR demo nights at the University of Exeter </li>
								<li>Run the Exeter site for the global <a href="https://2018.spaceappschallenge.org/locations/exeter" target="_blank">NASA SpaceApps Hackathon</a> </li>
								<li>Put on the <a href="https://gameplay.techexeter.uk" target="_blank">GAME>PLAY gaming festival</a> </li>
								<li>Exhibit at events like the Big Bang Fair, VentureFest  </li>
								<li>Work closely on your behalf with Exeter City Council, ExIST, Tech South West and Tech Nation UK </li>
								<li>Support other local interest groups such as PRISM, Alexa Meetup, Python Meetup, Net Squared </li>
								<li>Support our neighbouring communities in Plymouth, Cornwall, North Devon, Somerset, Bristol and Bath </li>
								<li>Are championing <a href="https://techexeter.uk/diversity-and-inclusivity/">diversity and inclusivity</a>  </li>
								<li>Putting tech careers in front of young people via <a href="https://techexeter.uk/tag/education/">outreach into education</a> </li>
								</ul>

								<hr/>
								<p>To find out more, visit our main site at <a href="https://techexeter.uk/2016/about-us/">https://techexeter.uk</a></p>
								
								<h3 id="contact">Contact Us</h3>

								{% include contactform.html %}


							</section>

					</div>
				</div>

			{% include footer.html %}
