---
layout: default
title: Become a sponsor
page_teaser_image: https://conference.techexeter.uk/images/preview_index.jpg
---
{% include header.html %}

<!-- Main -->
	<div id="main" class="wrapper style1">
		<div class="container">
			<header class="major">
				<h2>Become a sponsor</h2>
				<p>Help bring our tech + digital industries to a worldwide audience</p>
			</header>
			<div class="row 150%">
				<div class="4u 12u$(medium)">

					<!-- Sidebar -->
					<section id="sidebar" class="sponsors">
						{% include sponsors-sidebar.html %}
					</section>

				</div>
				<div class="8u$ 12u$(medium) important(medium)">

					<!-- Content -->
						<section id="content">
							<h3>Become a sponsor</h3>
							<p>For the past five consequtive years, we’ve held Exeter’s only grass-roots tech conference, a sell-out event which attracts local and national speakers across a broad range of themes for our ever expanding tech & digital community.</p>
							<p>This year we have the exciting opportunity to showcase our locally grown conference in front of a worldwide audience.</p>
							
							<span class="image fit"><img src="{{ site.url }}{{ site.baseurl }}/images/banner-7a.jpg" alt="" /></span>
							<h3>Our packages</h3>
							<p>Every sponsorship package purchased will contribute additional tickets into our reduced-cost ticket pool, giving students and those from low-income households easier access to our conference.</p>
						

							<div class="grid-3col no-h-gutter">

								<div class="bronze">
								<h1>Bronze</h1>
								<h2>£500 +VAT</h2>
									<ul>
									<li>2 event tickets</li>
									<li>Logo and link on website</li>
									<li>Social media mentions - Twitter</li>
									<li>4x 60 second video segments on the live stream</li>
									</ul>
								</div>
								<div class="silver">
								<h1>Silver</h1>
								<h2>£1,000 +VAT</h2>
									<ul>
									<li>5 event tickets</li>
									<li>Logo and link on website</li>
									<li>Social media mentions - Facebook, Twitter, Instagram</li>
									<li>4x 60 second video segments on the live stream</li>
									</ul>
								</div>
								<div class="gold">
								<h1>Gold</h1>
								<h2>£2,000 +VAT</h2>
									<ul>
									<li>10 event tickets</li>
									<li>Logo and link on website</li>
									<li>Social media mentions - Facebook, Twitter, Instagram, LinkedIn</li>
									<li>4x 120 second video segments on the live stream</li>
									</ul>
								</div>
								
								<div class="bronze continue">
									<ul>
										<li>Sponsors 1 reduced-cost ticket</li>
									</ul>
								</div>
								<div class="silver continue">
									<ul>
										<li>Sponsors 2 reduced-cost tickets</li>
									</ul>
								</div>
								<div class="gold continue">
									<ul>
										<li>Sponsors 4 reduced-cost tickets</li>
									</ul>
								</div>
								
								<div class="bronze continue">
								</div>
								
								<div class="silver continue">
									<ul>
									<li>30 second social media videos</li>
									<li>Pre-recorded video interview segment on the live stream</li>
									</ul>
								</div>
								
								<div class="gold continue">
									<ul>
									<li class="strong">30 second social media videos</li>
									<li class="strong">Pre-recorded video interview segment on the live stream</li>
									<li class="strong">60 second intro video during the opening ceremony on both days</li>
									<li class="strong">Exclusive sector representation</li>
									</ul>
								</div>
								
								</div>
								<hr/>
								<p>To find out more about any of these packages, please get in touch.</p>
								{% include contactform.html %}
								<blockquote>“Tech Exeter and Digital Exeter are at the heart of the tech community in this beautiful city, where innovation is supported by leading incubators like SETsquared” - Tech Nation</blockquote>
								<blockquote>“My organisation (NHS Digital) and myself needs to be more involved in the TechExeter scene, I think it is really great to see this stuff going on.”</blockquote>
							
						</section>

				</div>
			</div>
		</div>
	</div>

{% include footer.html %}
