---
layout: default
---
            {% include header.html %}

			<!-- Banner -->
				<section id="banner" class="home">
					<div class="content">
						<span class="images">
							<div><img src="{{ site.url }}{{ site.baseurl }}/images/tech_exeter_highres_white.png" alt="" /></div>
							<div><img src="{{ site.url }}{{ site.baseurl }}/images/digital_exeter_highres_white.png" alt="" /></div>
						</span>
						<header>
							<h2>Tech & Digital Conference</h2>
							<p>September 9th &amp; 10th, Streaming Online</p>
						</header>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
                <section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="{{ site.url }}{{ site.baseurl }}/images/banner-5a.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>
										<h2>2020 Vision</h2>
										<p>Our theme this year is "vision", split across two jam-packed days</p>
									</header>
								</div>
								<div class="4u 12u$(medium)">
									<p><strong>Day 1 is curated by TechExeter</strong><br/> With topics such as Artificial Intelligence, Software and Web Development, Computer Vision Systems, Our Robot Future </p>
									<p>Led by Kris Sum, Kathryn White, Jacob Tomlinson</p>
								</div>
								<div class="4u$ 12u$(medium)">
									<p><strong>Day 2 is curated by Digital Exeter</strong><br/> With topics such as User Experience (UX), CSS, Graphic Design, Immersive Experiences, Virtual and Augmented Reality</p>
									<p>Led by Sarah Marks, Philippa Carnelley</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 left">
					<span class="image fit main"><img src="{{ site.url }}{{ site.baseurl }}/images/banner-6a.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Apply to talk</h2>
							<p><em>*No experience necessary!</em></p>
						</header>
						<p>For this online conference, we're welcoming talks not just from our local UK community and partners, but from across the world too</p>
						<p>Whether it's pre-recorded video, a live presentation, a workshop or something else - there are lots of ways you can join our community and become part of our conference<p>
						<p>We cover a wide variety of technical levels, from intro sessions to deep-dives, so don't be afraid to try something new!</p>
						<ul class="actions">
							<li><a href="{{ site.url }}{{ site.baseurl }}/talk.html" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 right">
					<span class="image fit main bottom"><img src="{{ site.url }}{{ site.baseurl }}/images/banner-8a.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Sponsor Us</h2>
							<p>Help bring our local conference to a global audience</p>
						</header>
						<p>We have had 5 consecutive years of hosting an amazing sell-out community driven conference, with the support of our awesome sponsors.</p> 
						<p>This year we have the opportunity to showcase our great community by streaming the event worldwide online.</p>
						<ul class="actions">
							<li><a href="{{ site.url }}{{ site.baseurl }}/become-a-sponsor.html" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Join us for our first ever virtual conference</h2>
							<p>We're working hard to adapt our physical event to fit online. 
							We have a dedicated team of broadcast-savvy people behind this event and we're excited to put on a first class virtual event for 2020</p>
						</header>
						<div class="box alt">
							<div class="row uniform">
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-area-chart"></span>
									<h3>Live Presenters</h3>
									<p>Ask questions and get answers in real-time</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-comment"></span>
									<h3>Networking</h3>
									<p>Virtual networking system allows you to easily meet new people.</p>
								</section>
								<section class="4u$ 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-flask"></span>
									<h3>Interactive features</h3>
									<p>Interact with us remotely through our unique interactive elements</p>
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-paper-plane"></span>
									<h3>Instant Replay</h3>
									<p>Didn't catch something the first time round? Our stream will be available instantly for replaying</p>
								</section>
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt major fa-file"></span>
									<h3>Virtual lunch-break games</h3>
									<p>Come play games with us whilst we pause the presentations for lunch</p>
								</section>
								<section class="4u$ 6u$(medium) 12u$(xsmall)">
									<span class="icon alt major fa-lock"></span>
									<h3>No queues</h3>
									<p>No lunch queue!</p>
								</section>
							</div>
						</div>
						<!--
						<footer class="major">
							<ul class="actions">
								<li><a href="{{ site.url }}{{ site.baseurl }}/#" class="button">Magna sed feugiat</a></li>
							</ul>
						</footer>
						-->
					</div>
				</section>

			<!-- Five -->
				<section id="five" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Sign up to our mailing list</h2>
							<p>Stay informed - join our low-frequency mailing list for all things TechExeter</p>
						</header>
						
						
						<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
						<style type="text/css">
						</style>
						<div id="mc_embed_signup">
						<form action="https://techexeter.us13.list-manage.com/subscribe/post?u=b4eb19f31ed535a360131cde0&amp;id=0896f232b9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate container 50%" target="_blank" novalidate>
							<div id="mc_embed_signup_scroll" class="row uniform 50%">
							
								<div class="8u 12u$(xsmall)">
									<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your Email Address" required>
									</div>
							<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b4eb19f31ed535a360131cde0_0896f232b9" tabindex="-1" value=""></div>
							<div class="4u$ 12u$(xsmall)"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button fit special"></div>
							</div>
						</form>
						</div>
						
						</form>
					</div>
				</section>

			{% include footer.html %}
