---
layout: default
title: PR Kit
page_teaser_image: https://conference.techexeter.uk/images/preview_index.jpg
---
{% include header.html %}

<!-- Main -->
	<div id="main" class="wrapper style1">
		<div class="container">
			<header class="major">
				<h2>PR Kit</h2>
			</header>
			<div class="row 150%">
				<div class="8u 12u$(medium) important(medium)">

					<!-- Content -->
					<section id="content">
					<h3>Text</h3>
					<blockquote>
						The annual conference from TechExeter and Digital Exeter is back - "Vision 2020" is packed with two days of live talks from expert speakers in the tech and digital space. 
						Weds 9th Sept has talks on software development, artificial intelligence and computer vision. Thurs 10th Sept has talks and panel sessions on all things web, SEO and marketing.<br/>
						Tickets on sale now at https://conference.techexeter.uk
					</blockquote>
					<h3>Video</h3>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/S0C9dns4iVM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<br/>
					https://www.youtube.com/watch?v=S0C9dns4iVM | <a href="https://drive.google.com/file/d/1R4PxDj4_pjtvwV_S3fBBABq5l4ZDCzWK/view?usp=sharing">download</a>

					<p>&nbsp;</p>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/XVGRHUHt9i0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<br/>
					https://www.youtube.com/watch?v=XVGRHUHt9i0 | <a href="https://drive.google.com/file/d/1q0dXWgV8xXNQbeTd4-NT1eLxUagB7ctR/view?usp=sharing">download</a>

					</section>

				</div>
				<div class="4u$ 12u$(medium)">
					<h3>Media</h3>
					
					<p>TechExeter logo : <a href="/images/tech_exeter_highres_white.png" target="_blank">White</a> <a href="/images/tech_exeter_highres_black.png" target="_blank">Black</a></p>
					<p>Digital Exeteer logo : <a href="/images/digital_exeter_highres_white.png" target="_blank">White</a> <a href="/images/digital_exeter_highres_black.png" target="_blank">Black</a></p>
					
					<h3>Contact</h3>
					<p>conference@techexeter.uk</p>
					<p><a href="https://twitter.com/techexeter" class="icon fa-twitter" target="_blank"> @techexeter on twitter</a></p>
				</div>
			</div>
			<hr/>
			<div class="row 150%">
				<div class="4u 12u$(medium)">
					<h2>Sponsors</h2>
					<!-- Sidebar -->
					<section id="sidebar" class="sponsors">
						{% include sponsors-sidebar.html %}
					</section>

				</div>
			</div>
		</div>
	</div>

{% include footer.html %}
