---
layout: default
title: PR Kit
page_teaser_image: https://conference.techexeter.uk/images/preview_index.jpg
---
{% include header.html %}

<!-- Main -->
<div id="main" class="wrapper style1">
	<div class="container">
		<header class="major">
			<h2>PR Kit</h2>
		</header>
		<div class="row 150%">
			<div class="8u 12u$(medium) important(medium)">

				<!-- Content -->
				<section id="content">
				<h3>Short Text</h3>
				<blockquote>
					The annual conference from TechExeter and Digital Exeter is back - "Vision 2020" is packed with two days of live talks from expert speakers in the tech and digital space. 
					Weds 9th Sept has talks on software development, artificial intelligence and computer vision. Thurs 10th Sept has talks and panel sessions on all things web, SEO and marketing.<br/>
					Tickets on sale now at https://conference.techexeter.uk
				</blockquote>
				<h3>Press Release</h3>

				<h4>Digital Exeter and TechExeter join forces for online conference extravaganza</h4>
				<h5>‘Vision 2020’ will explore all things tech and digital over a jam-packed two day online event!</h5>

				<p>Not long to go until TechExeter and DigitalExeter’s 2020 annual tech + digital conference. Over the past 5 years the conference was held at the University of Exeter Business School. Due to COVID-19, the team chose to move this year’s event online. Over two days, 9-10th September 2020, exclusive content from over 24 expert speakers will be streamed live, bringing the theme of ‘Vision’ directly to your screen.</p>
				<p>TechExeter CIC Director Kris Sum commented:<br/>
				<em>"I’m enjoying working with the Tech and Digital Exeter teams and our sponsors to deliver this year’s conference - online, that’s a first for us! The topic of ‘Vision’ has been interpreted differently by each speaker, some taking it literal and others less so. Being 100% online means our traditionally regional conference has a worldwide reach which takes our grassroots events global. With that in mind, we can't wait to see the talks, workshops and more we have lined up for the community.”</em></p>

				<p>Join TechExeter on day one, with talks exploring AI, computer vision and software development. Keynoted by Nicola Whiting, Chief Strategy Officer of Titania LTD, who will address Imposter Syndrome in the industry, the day will continue with two tracks interspersed with interactive sessions, networking opportunities and exclusive content. </p>
				<p>If you’re curious about how COVID-19 will affect our use of touchscreens in public, hospitals and schools, Antonia Forsters talk will be right up your alley. As a Unity games developer at Ultraleap, she will be speaking about her research into touchless technology and its future uses. </p>
				<p>Want to find out about deep learning and computer vision? Aneeq Ur Rehman explores common deep learning object recognition architectures and frameworks, and will show you how to build your own custom real-time object detector in a few lines of Python</p>
				<p>For the second day, Digital Exeter will be digging deeper into all things web + SEO + marketing. They have included expert speakers on Google Ads, analytical marketing, data visualisation and more. With a range of panels, talks and workshops, the day gets off to a good start with Niki Mosier, Head of SEO at Two Octobers, and her opening talk on why web accessibility matters in 2020. </p>
				<p>Digital Exeter organiser Sarah Marks explained:<br/> 
					<em>“It was important to us as a team to create a space for ‘digital’ at a traditionally more tech-focussed event. Moving online has meant the speaker pool we could draw from is far and wide and I am thrilled with the line-up we have for day two.”</em></p>
				<p>The interactive track has a panel dedicated to SEO trends, where we hope to answer all your questions with our three expert panelists: Laurent Bricknell, Technical Director at Organic; Sharon Supriya, Head of Search Content Business at Times Internet; and Sabrina Bandel, SEA Executive at Neo Media World. From how to make space for yourself in this coveted area to the future of big search data, this panel is one to watch out for. </p>
				<p>With other talks around design, UX and where art and technology meet, the conference is delivering all facets of ‘digital and tech’. Speakers range from award-winning BBC documentary film-maker Robin Mudge to freelance graphic designer Simon Russel, over to lots of other industry professionals. Topics start with AI use cases and ethics and end with using technology to visualise audio and music. There is something for everyone!</p>
				<p>This fantastic lineup over the two conference days would not be possible without the support of our sponsors. We are proud to say we are sponsored by a range of tech and digital companies including SETsquared, Advancing Analytics, Launch Online, The Environmental Futures & Big Data Impact Lab, Software Solved, Synopsys, Spatial Quotient and Stephens Scown. </p>
				<p>The conference will run on Wednesday 9th September and Thursday 10th September 2020, 09:00-17:15. Tickets are available to <a href="https://conference.techexeter.uk/tickets.html">book online now</a>, with prices starting at £15 and £8 for concessions. </p>
				<p>Talks, panels and workshops all promise two fun and informative days that you can drop in and out of as you wish. There will be lots of space for Q&As with speakers to allow you to connect and engage further. </p>
				<p>For more information on the full line-up, schedule, activities and to buy tickets, head over to <a href="https://conference.techexeter.uk">conference.techexeter.uk</a>. Make sure to follow #vision2020exeter @TechExeter and @Digital Exeter on Twitter in the run up to the conference so you don’t miss a thing!</p>
				


				<h3>Video</h3>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/S0C9dns4iVM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<br/>
				https://www.youtube.com/watch?v=S0C9dns4iVM | <a href="https://drive.google.com/file/d/1R4PxDj4_pjtvwV_S3fBBABq5l4ZDCzWK/view?usp=sharing">download</a>

				<p>&nbsp;</p>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/XVGRHUHt9i0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<br/>
				https://www.youtube.com/watch?v=XVGRHUHt9i0 | <a href="https://drive.google.com/file/d/1q0dXWgV8xXNQbeTd4-NT1eLxUagB7ctR/view?usp=sharing">download</a>

				</section>

			</div>
			<div class="4u$ 12u$(medium)">
				<h3>Media</h3>
				
				<p>TechExeter logo : <a href="/images/tech_exeter_highres_white.png" target="_blank">White</a> <a href="/images/tech_exeter_highres_black.png" target="_blank">Black</a></p>
				<p>Digital Exeteer logo : <a href="/images/digital_exeter_highres_white.png" target="_blank">White</a> <a href="/images/digital_exeter_highres_black.png" target="_blank">Black</a></p>
				
				<h3>Contact</h3>
				<p><a href="mailto:conference@techexeter.uk">conference@techexeter.uk</a></p>
				<p><a href="https://twitter.com/techexeter" class="icon fa-twitter" target="_blank"> @techexeter on twitter</a><br/>
					<a href="https://twitter.com/digitalexeter" class="icon fa-twitter" target="_blank"> @digitalexeter on twitter</a><br/></p>
			</div>
		</div>
		<hr/>
		<div class="row 150%">
			<div class="4u 12u$(medium)">
				<h2>Sponsors</h2>
				<!-- Sidebar -->
				<section id="sidebar" class="sponsors">
					{% include sponsors-sidebar.html %}
				</section>

			</div>
		</div>
	</div>
</div>

{% include footer.html %}
