---
layout: default
title: Apply to Talk
---
			{% include header.html %}

			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>Apply to talk</h2>
							<p>Be part of something amazing</p>
						</header>
						<div class="row 150%">
							<div class="8u 12u$(medium)">

								<!-- Content -->
									<section id="content">
										<a href="{{ site.url }}{{ site.baseurl }}/#" class="image fit"><img src="{{ site.url }}{{ site.baseurl }}/images/banner-3a.jpg" alt="" /></a>
										<h2>Why should I apply?</h2>

										<p>Our sell-out events would be nothing without our speakers - we are lucky to have gotten to know some amazing people, and we want you to be next!</p>
										<p>We can put you in front of a global audience, with highly engaged viewers who speak your language</p>
									
										<p>Some notes:</p>
										<ul>
											<li>You don't need to have spoken at a conference before</li>
											<li>You can submit to do a pre-recorded talk - no need to present live</li>
											<li>We welcome both technical and non-technical talk submissions</li>
											<li>Returning speakers are welcome</li>
											<li>You can submit multiple talks</li>
											<li>Get paid to speak (see below)</li>
										</ul>
										
										<h2>Am I techy enough? / I haven't done this before ... </h2>

										<p>Short answer: You <em>are</em> techy enough, and you <em>can</em> do this!</p>
										<p>Long answer:</p>
										<p>If you have a passion about a topic, whatever experience level, then we want to hear from you. If you haven't done this before then we can help. We can review your slides, help with individual presentation styles and formats, and make sure you are fully prepared. We also offer the option of pre-recording your talk so you don't have to worry about presenting on the day itself!</p>

										<h2>Get paid? What?!</h2>
										<p>That's right - we value our speakers time and will offer to pay for you to speak at this event!</p>
										<p>At our previous physical events we normally offer transport and accomodation fees to speakers, plus a tasty VIP speaker dinner, but this year we'll be redirecting those funds to directly support our speakers.</p>
										<p><em>For this virtual conference, all speakers will receive the same flat fee, and the exact amount will be determined based on ticket sales and sponsorship monies raised. TechExeter is a Community Interest Company run by volunteers, all monies we raise go directly into supporting our communuity. <a target="_blank" href="https://techexeter.uk/2016/about-us/">Find out more</a>.</em></p>
									  
									</section>

							</div>
							<div class="4u$ 12u$(medium)">

								<!-- Sidebar -->
									<section id="sidebar">
										<section>
											<h3>Apply Now: 2020 VISION</h3>
											
											<p><strong>Deadline for submissions is midnight on May 31st 2020</strong></p>
											<p>The form takes about 20 minutes to fill in</p>

											<footer>
												<ul class="actions">
													<li><a target="_blank" href="https://techexeter.typeform.com/to/dtJ07s" class="button special small">Online form - apply here</a></li>
												</ul>
											</footer>
										</section>
										<hr />
										<section>
											<h3>Need inspiration?</h3>
											<p>Check out the talks we had at last year's conference.
											</p>
											<footer>
												<ul class="actions">
													<li><a href="https://2019.conference.techexeter.uk/speakers" class="button">2019 speakers</a></li>
												</ul>
											</footer><span class="image fit"><img src="{{ site.url }}{{ site.baseurl }}/images/banner-9a.jpg" alt="" /></span>
											
										</section>
									</section>

							</div>
						</div>
					</div>
				</div>

			{% include footer.html %}
