---
layout: default
title: Tickets
page_teaser_image: https://conference.techexeter.uk/images/preview_index.jpg
---
{% include header.html %}

<!-- Main -->
	<div id="main" class="wrapper style1">
		<div class="container">
			<header class="major">
				<h2>Tickets are now available</h2>
			</header>

			<!-- Content -->
				<section id="content">
					
					<div class="row ">
						<div class="6u 12u$(medium)">
							<h3>What's included in the ticket?</h3>
							<ul>
								<li>Access to both Wednesday (TechExeter) and Thursday (Digital Exeter) conference streams</li>
								<li>Access to our conference platform to ask questions and chat with speakers and attendees</li>
								<li>Access to all session recordings for playback at your convenience</li>
								<li>Access to our interactive games</li>
								<li>Entry into our prize draws</li>
								<li>Access to the livestream after-party (Thursday night)</li>
							</ul>
							
					<!-- Noscript content for added SEO -->
					<noscript><a class="button small" href="https://www.eventbrite.co.uk/e/techexeterdigital-exeter-annual-conference-2020-tickets-110839734630" rel="noopener noreferrer" target="_blank"></noscript>
						<!-- You can customize this button any way you like -->
						<button id="eventbrite-widget-modal-trigger-110839734630" type="button" class="button special big">Buy Tickets</button>
						<noscript></a>Buy Tickets on Eventbrite</noscript>
						
						<script src="https://www.eventbrite.co.uk/static/widgets/eb_widgets.js"></script>
						
						<script type="text/javascript">
							window.EBWidgets.createWidget({
								widgetType: 'checkout',
								eventId: '110839734630',
								modal: true,
								modalTriggerElementId: 'eventbrite-widget-modal-trigger-110839734630'
							});
						</script>

						<p>&nbsp;</p>
						</div>
						<div class="6u 12u$(medium) not-small">

						<span class="image fit"><img src="{{ site.url }}{{ site.baseurl }}/images/banner-9b.jpg" alt="" /></span>
						<p><em>Our complete speaker line-up will be published in July</em></p>
						</div>
					</div>
						

				</section>

		</div>
	</div>

{% include footer.html %}
