---
layout: default
title: Tickets
page_teaser_image: https://conference.techexeter.uk/images/preview_index.jpg
---
{% include header.html %}

<!-- Main -->
	<div id="main" class="wrapper style1">
		<div class="container">
			<header class="major">
				<h2>Tickets will be released soon</h2>
				<p>We're expecting our early-bird tickets to be available towards the end of June</p>
			</header>

			<!-- Content -->
				<section id="content">
					<span class="image fit"><img src="{{ site.url }}{{ site.baseurl }}/images/banner-9b.jpg" alt="" /></span>
					<h3>Ticket information</h3>
					<p>Tickets for our virtual event will go on sale soon, along with further information about the event itself. </p>
					<h3>What's included in the ticket?</h3>
					<ul>
						<li>Access to both Wednesday (TechExeter) and Thursday (Digital Exeter) conference streams</li>
						<li>Access to our conference platform to ask questions and chat with speakers</li>
						<li>Access to our interactive games</li>
						<li>Entry into our prize draws</li>
						<li>Access to the livestream after-party (thursday night)</li>
					</ul>
				</section>

		</div>
	</div>

{% include footer.html %}
