<form action="https://formspree.io/conference@techexeter.uk" method="POST" style="background:#ffffff11; padding:1em; border-radius:1em;">
    <div class="row uniform 50%">
        <div class="12u$">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
        </div>
        <div class="12u$">
            <label for="email">Email</label>
            <input type="text" name="_replyto" id="email">
        </div>
        <div class="12u$">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="6"></textarea>
        </div>
        <ul class="12u$ actions">
            <li><input type="submit" value="Send Message" class="button special"></li>
            <li><input type="reset" value="Clear" class="button"></li>
        </ul>
    </div>
</form>