<!-- Header -->
<header id="header">
	<h1 id="logo"><a href="{{ site.url }}{{ site.baseurl }}/index.html">Vision 2020</a></h1>
	<nav id="nav">
		<ul>
			<li><a href="{{ site.url }}{{ site.baseurl }}/index.html">Home</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/tickets.html" class="button special icon fa-ticket">Tickets</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/speakers.html">Speakers</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/schedule.html">Schedule</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/become-a-sponsor.html">Sponsorship</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/about.html">About Us</a></li>
			<!--<li><a href="{{ site.url }}{{ site.baseurl }}/talk.html">Apply to talk</a></li> -->
		</ul>
	</nav>
</header>
