.sponsors {
    p {
        color: #777;
        line-height: 1.3em;
    }
}


.speakers {
    background: url(/images/pic03.jpg);
    background-repeat: repeat;
    background-size: auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1em;
    margin-top:1em;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);

    .grid-flex {
        align-items: start;
        justify-items: stretch;
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-evenly;
        .speaker {
            flex-basis: 25%;
        }

    }

    > h2 {
        color:#fff;
        border-bottom:none;
        text-align:center;
        margin-bottom:1em;
        margin-bottom: 20px;
        font-size: 3em;
        margin-top: 0px;
    }
}

.speaker {
    color:#fff;
    text-align:center;
    max-width:300px;
    img.circle {
        display:block;
        margin:auto;
        max-width:250px;
        border: 7px solid #fff;
        border-radius: 50%;
        max-width: 250px;
        background: #fff;
        transition: all .15s ease-out;
        &:hover {
            box-shadow:0 0 20px rgba(0,0,0,.7) !important;
            border-width:0px;
        }
    }
    h2 {
        border-bottom: 3px solid #fff !important;
        display:inline-block;
        margin-top:0.5em;
    }
    p {
        text-align:center;
    }
}


.speaker-page {

    padding-top:4em; 
    .speaker-top { 
        padding:0.5em;
        margin-bottom:1em;
    }

    .sidebar {
        text-align:center;
        img {
            display:block;
            margin:auto;
            max-width:250px;
            border: 7px solid #fff;
            border-radius: 50%;
            max-width: 80%;
            background: #fff;
        }    
        h2 {
            display:inline-block;
            margin-top:0.5em;
            background-color:#e44c65;
            padding: 0.25em 0.5em;
        }

    }
    
    h1 {
        font-size:3rem;
        background-color:#e44c65;
        padding: 0.5em 0.25em;
    }
    h3 {
        font-size:1.5rem;
    }
}


.sponsors.gold,
.sponsors.silver, 
.sponsors.bronze {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sponsors-mixed {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sponsors.gold { 
    section {
        flex-basis:50%;
        padding:5px;
    }
}
section.gold {
    flex-grow: 4;
    flex-basis:50%;
    padding:5px;
}

.sponsors.silver { 
    section {
        flex-basis:33%;
        flex-shrink: 0;
        padding:5px;
    }
}
section.silver {
    flex-grow: 2;
    flex-basis:33%;
    padding:5px;
}
.sponsors.bronze { 
    section {
        flex-basis:25%;
        flex-shrink: 0;
        padding:5px;
    }
}
section.bronze {
    flex-grow: 1;
    flex-basis:25%;
    padding:5px;
}

.sponsors a {
    border:none;
}

@media screen and (max-width: 736px) {
    .sponsors.gold { 
        section {
            flex-basis:100%;
            padding:5px;
        }
    }
    .sponsors.silver { 
        section {
            flex-basis:50%;
            padding:5px;
        }
    }
    .sponsors.bronze { 
        section {
            flex-basis:33%;
            padding:5px;
        }
    }
    
}


#schedule {
    .item {
        padding:0.3em;
        &.head {
            color: #fff;
            padding: 0.5em;

            &.t1 {
                background-color:#e44c65;
            }
            &.t2 {
                background-color:#5480f1;
            }
            &.t3 {
                background-color:#f88e21;
            }
        }

        &.t1 {
            background-color:scale-color(#e44c65,$lightness: 20%);
        }
        &.t2 {
            background-color:scale-color(#5480f1,$lightness: 20%);
        }
        &.t3 {
            background-color:scale-color(#f88e21, $lightness: 20%);
        }

        h2 {
            margin-top:0;
            padding-bottom: 0;
            border-bottom: none;
            margin:0px;
            font-size:1.1em;
        }
        .speaker {
            color:#000;
            text-align:left;
            max-width:auto;
            font-size:0.8em;
        }
        .type {
            color:#888;
            font-size:0.8em;
        }

        &.time {
            h2 {
                font-size:1em;
                font-weight:normal;
                color:#888;
                margin-top:0.08em;
            }
        }

        &.break,
        &.lunch {
            background: #39c088;
            color:#fff;
            padding:0.5em;
            h2 {
                margin:0px;
            }
        }

    }
}